body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right bottom, #f0f0f0, #d1d1d1);
    color: #333;
    padding: 20px;
    text-align: left;
    margin: 240px 0 60px; /* top 240px, right 0, bottom 60px, left 0 */
    zoom: 0.9; /* Webview2 zoom level */
}

/* Refresh button */
#refreshButton, #copilotButton {
    position: fixed;
    height: 40px;
    background-color: #ffffff;
    border: none;
    padding: 0 15px; /* Add padding to give buttons some space */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px; 
    color: #333333;
  }

  #refreshButton {
    top: 10px;
    right: 100px;
	position: fixed;
	  width: 40px;
	  height: 40px;
	  background-color: #ffffff;
	  border: none;
	  border-radius: 50%;
	  padding: 0;
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	  cursor: pointer;
	  font-size: 18px;
	  color: #333333;
  }

  #copilotButton {
    top: 10px;
    right: 10px; 
    width: auto; /* Set width to auto to allow button to take full width */
    background-color: #0078D4; /* Windows 11 blue color style */
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #copilotButton:hover {
    background-color: #005A9E; /* Darker blue on hover */
  }
.emoji-container {
    position: absolute ;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.emoji-container a {
    text-decoration: none;
}

.emoji-container h1 {
    color: #333;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px 0; /* Adjusted margin for h1 */
}

.emoji-container h2 {
    color: #000;
    font-size: 14px;
    margin-top: 10px; /* Provide some space between h1 and h2 */
    font-weight: normal; /* Set font weight to normal */
}

.emoji-container .emoji {
    font-size: 40px;
    display: block;
    animation: pulse 1.5s infinite;
    cursor: pointer;
    margin-top: 20px; /* Adjusted margin-top */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


#homeHeader,
#systemHeader,
#personalizationHeader,
#crapwareHeader,
#diagnosticHeader,
#appsHeader,
#buttonsContainer
{
    background: rgba(184, 189, 255, 0.9); /* Light Purple */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    z-index: 998; /* Lower z-index than logContainer */
}

.header-caption {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}


/* UI: Glassy-Box effects*/
.glassy-box {
    background: linear-gradient(45deg, #ffcc80, #ff6699); /* Gradient background */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
}

.glassy-box button {
    background: linear-gradient(45deg, #7048e8, #ff4dce); /* Gradient button background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px; /* Slightly rounded corners */
    cursor: pointer;
    margin: 0 5px;
    transition: background 0.3s;
    position: relative;
    overflow: hidden;
}

.glassy-box button:hover {
    background: linear-gradient(45deg, #5e3db6, #ff008e); /* Darker gradient on hover */
}

.glassy-box button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); /* Transparent overlay */
    pointer-events: none;
}

/* UI: Toggle Switches */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 20px;
}

    .toggle-switch input {
        display: none;
    }

.toggle-switch-label {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 24px;
    background-color: #00bfff;
    /* Baby Blue */
    border-radius: 12px;
    transition: background-color 0.3s;
}

    .toggle-switch-label:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 2px;
        width: 20px;
        height: 20px;
        background-color: #008000;
        /* Green */
        border-radius: 50%;
        transition: transform 0.3s;
    }

.toggle-switch input:checked + .toggle-switch-label {
    background-color: #ff4dce;
}

    .toggle-switch input:checked + .toggle-switch-label:before {
        transform: translateX(26px);
    }

.checkbox-label {
    margin-left: 10px;
    display: inline-block;
    color: #000;
    font-weight: bold;
}

/* Quick helper dropdown */
#dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #a460e6; /* Light Purple color */
    border-radius: 5px;
    background-color: #f2ebff; /* Light Purple background */
    color: #7048e8; /* Purple text color */
    cursor: pointer;
    outline: none; /* Remove default focus border */
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/* Style dropdown options */
#dropdown option {
    padding: 10px;
}

/* Hover effect */
#dropdown:hover {
    background-color: #a460e6; /* Light Purple color on hover */
    color: #ffffff; /* White text color on hover */
    border: 1px solid #a460e6; /* Light Purple border on hover */
}

/* Active (clicked) effect */
#dropdown:active {
    background-color: #8e3ec5; /* Darker Purple when clicked */
    color: #ffffff; /* White text color when clicked */
    border: 1px solid #8e3ec5; /* Darker Purple border when clicked */
}


/* UI: LogContainer */
#logContainer {
    position: fixed;
    bottom: 0; /* Adjust this value based on your design */
    right: 0;
    background: linear-gradient(45deg, #ffdd70, #ffc25e); /* Gradient background with yellow tones */
    color: #333; /* Dark text color for better contrast */
    padding: 20px;
    border: 2px solid #ddd; /* Light border color */
    border-radius: 10px; /* Slightly rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
    text-align: left;
    animation: pulse-border 2s infinite;
    z-index: 1000; /* Set a high z-index to ensure it's in the foreground */
    max-height: 500px;
    overflow-y: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a more modern font */
   font-size: 13px;
}

#logContainerClose {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #000; /* Black text color */
}

/* Adding a pulsing border animation for #logContainer */
@keyframes pulse-border {
    0% {
        border-color: #000;
    }

    50% {
        border-color: #fff;
    }

    100% {
        border-color: #000;
    }
}

#logContainer:hover {
    animation: pulse-border 2s infinite;
}

/* SECTION: Install missing apps */
#appList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.app-item {
    background: rgba(255, 255, 255, 0.9); /* White */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s;
}

.app-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

/* SECTION: Crapware styles */
.appx-container {
    padding: 1px;
    width: 100%;
    margin: 0 auto;
}

.appx-item {
    background-color: #f5f5f5; /* Light background color */
    border: 1px solid #ddd; /* Border color */
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
    margin-bottom: 12px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

    .appx-item:hover {
        background-color: #e0e0e0; /* Darker background color on hover */
    }

.appx-details {
    margin-bottom: 8px;
}

/* Ensure each appx-item is on a separate line */
.appx-item {
    width: 100%;
}